{% extends "base.html" %}
{% load static %}

{% block title %}Home - AskPupkin{% endblock %}

{% block content %}
<div class="questions-nav">
    <h2 class="nav-title">New Questions</h2>
    <a href="{% url 'app:hot' %}" class="nav-link">Hot Questions</a>
</div>

<div class="questions-list">
    {% for question in questions %}
        {% include "components/question_item.html" with question=question detailed=False %}
    {% endfor %}
</div>

{% if page and page.paginator.num_pages > 1 %}
    {% include 'pagination.html' with page=page %}
{% endif %}
{% endblock %}