{% extends "base.html" %}
{% load static %}

{% block title %}Registration - AskPupkin{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-section">
    <h1 class="auth-title">Registration</h1>

    {% if messages %}
        <div class="error-message">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form class="auth-form" method="POST" action="{% url 'app:signup' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="login" class="form-label">Login</label>
            <input type="text"
                   id="login"
                   name="login"
                   class="form-input"
                   placeholder="Enter your login"
                   maxlength="30"
                   value="{{ request.POST.login }}"
                   required>
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email"
                   id="email"
                   name="email"
                   class="form-input"
                   placeholder="Enter your email"
                   maxlength="50"
                   value="{{ request.POST.email }}"
                   required>
        </div>

        <div class="form-group">
            <label for="nickname" class="form-label">NickName</label>
            <input type="text"
                   id="nickname"
                   name="nickname"
                   class="form-input"
                   placeholder="Enter your nickname"
                   maxlength="30"
                   value="{{ request.POST.nickname }}"
                   required>
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-input"
                   placeholder="Enter your password"
                   maxlength="30"
                   value="{{ request.POST.password }}"
                   required>
        </div>

        <div class="form-group">
            <label for="repeat-password" class="form-label">Repeat password</label>
            <input type="password"
                   id="repeat-password"
                   name="repeat_password"
                   class="form-input"
                   placeholder="Repeat your password"
                   maxlength="30"
                   value="{{ request.POST.repeat_password }}"
                   required>
        </div>

             <button type="submit" class="auth-button">Register!</button>
    </form>

    <div class="auth-link">
        <a href="{% url 'app:login' %}">already have account</a>
    </div>
</div>
{% endblock %}